.card {
  background-color: #eef0eb;
  font-family: 'Roboto', sans-serif;
  padding: 1.7vw;
  margin: 1.7vw;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
}

.card h2 {
  background-color: #153243;
  padding: 3vw 7vw;
  align-self: center;
  border-radius: 50px;
  font-size: 5vw;
  cursor: pointer;
}

.card p {
  font-size: 5vw;
  font-weight: 500;
  color: #153243;
  margin: 0;
  padding: 0 3vw 3vw 3vw;
}

.card p span {
  font-weight: 500;
  font-style: italic;
}