.not-found {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  font-size: 5vw;
  color: #eef0eb;
}

.not-found h2 {
  font-family: 'Permanent Marker', cursive;
}
.emoji {
  font-size: 50vw;
}

.btn {
  background: #eef0eb;
  border-radius: 25px;
  color: #153243;
  padding: 5vw;
  font-weight: 700;
}