body {
  background-color: #153243;
  color: #fff;
  box-sizing: border-box;
  margin: 0;
  padding: 1.7vh;
  font-family: 'Roboto', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.btn {
  cursor: pointer;
}
