footer {
  font-family: 'Permanent Marker', cursive;
  font-size: 5vw;
  color: #b4b8ab;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.flex-row {
  display: flex;
}

footer .btn {
  font-family: 'Roboto', sans-serif;
  margin: 3vw 4vw;
  padding: 3vw;
  background-color: #b4b8ab;
}

.footer-item {
  font-size: 9vw;
  margin: 0;
  padding: 0;
  line-height: .9;
}
