header {
  display: flex;
  justify-content: center;
  align-items: center;
  background: #153243;
  padding: 1vw;
  cursor: pointer;
}

.title {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-family: 'Permanent Marker', cursive;
  
  color: #b4b8ab;
}

.title-text {
  padding-left: 4vw;
  font-size: 9vw;
  letter-spacing: 1.3vw;
  flex-wrap: wrap;
}
.icon {
  font-size: 12vw;
  padding-right: 4vw;
}